### importing all the necessary Libraries

In [264]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from numpy import loadtxt
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

### Importing all the csv files

In [2]:
games   = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//games.csv')
players = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//players.csv')
plays   = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//plays.csv')

week_1  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week1.csv')
week_2  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week2.csv')
week_3  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week3.csv')
week_4  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week4.csv')
week_5  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week5.csv')
week_6  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week6.csv')
week_7  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week7.csv')
week_8  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week8.csv')
week_9  = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week9.csv')

week_10 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week10.csv')
week_11 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week11.csv')
week_12 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week12.csv')
week_13 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week13.csv')
week_14 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week14.csv')
week_15 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week15.csv')
week_16 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week16.csv')
week_17 = pd.read_csv('//Users//iknott//Desktop//Kaggle//nfl//week17.csv')

### Checking our data

In [3]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameId           253 non-null    int64
 1   gameDate         253 non-null    object
 2   gameTimeEastern  253 non-null    object
 3   homeTeamAbbr     253 non-null    object
 4   visitorTeamAbbr  253 non-null    object
 5   week             253 non-null    int64
dtypes: int64(2), object(4)
memory usage: 12.0+ KB

In [4]:
week_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986022 entries, 0 to 986021
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   time           986022 non-null  object
 1   x              986022 non-null  float64
 2   y              986022 non-null  float64
 3   s              986022 non-null  float64
 4   a              986022 non-null  float64
 5   dis            986022 non-null  float64
 6   o              919109 non-null  float64
 7   dir            919109 non-null  float64
 8   event          986022 non-null  object
 9   nflId          919109 non-null  float64
 10  displayName    986022 non-null  object
 11  jerseyNumber   919109 non-null  float64
 12  position       919109 non-null  object
 13  frameId        986022 non-null  int64
 14  team           986022 non-null  object
 15  gameId         986022 non-null  int64
 16  playId         986022 non-null  int64
 17  playDirection  986022 non-null  object
 18  route          273314 non-null  object
dtypes: float64(9), int64(3), object(7)
memory usage: 142.9+ MB

### data pre-procesing

In [5]:
week_3.isnull().sum()

time                  0
x                     0
y                     0
s                     0
a                     0
dis                   0
o                 79745
dir               79739
event                 0
nflId             79542
displayName           0
jerseyNumber      79542
position          79542
frameId               0
team                  0
gameId                0
playId                0
playDirection         0
route            849552
dtype: int64

In [6]:
week_3.head(3)

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-21T00:23:26.200Z,33.47,26.91,0.00,0.01,0.01,82.28,245.04,None,2495240.0,Tyrod Taylor,5.0,QB,1,home,2018092000,51,right,NaN
1,2018-09-21T00:23:26.200Z,36.32,11.84,0.46,0.80,0.05,278.40,312.33,None,2532877.0,Trumaine Johnson,22.0,CB,1,away,2018092000,51,right,NaN
2,2018-09-21T00:23:26.200Z,35.79,17.36,0.41,0.37,0.04,287.41,338.27,None,2533059.0,Morris Claiborne,21.0,CB,1,away,2018092000,51,right,NaN

### Removing all the null values from the dataset

In [7]:
week_1  = week_1.fillna(0)
week_2  = week_2.fillna(0)
week_3  = week_3.fillna(0)
week_4  = week_4.fillna(0)
week_5  = week_5.fillna(0)
week_6  = week_6.fillna(0)
week_7  = week_7.fillna(0)
week_8  = week_8.fillna(0)
week_9  = week_9.fillna(0)
week_10 = week_10.fillna(0)
week_11 = week_11.fillna(0)
week_12 = week_12.fillna(0)
week_13 = week_13.fillna(0)
week_14 = week_14.fillna(0)
week_15 = week_15.fillna(0)
week_16 = week_16.fillna(0)
week_17 = week_17.fillna(0)

### Separate the date from time

In [8]:
week_1["date"] = week_1.time.apply(lambda x: x.split("T")[0])
week_2["date"] = week_2.time.apply(lambda x: x.split("T")[0])
week_3["date"] = week_3.time.apply(lambda x: x.split("T")[0])
week_4["date"] = week_4.time.apply(lambda x: x.split("T")[0])
week_5["date"] = week_5.time.apply(lambda x: x.split("T")[0])
week_6["date"] = week_6.time.apply(lambda x: x.split("T")[0])
week_7["date"] = week_7.time.apply(lambda x: x.split("T")[0])
week_8["date"] = week_8.time.apply(lambda x: x.split("T")[0])
week_9["date"] = week_9.time.apply(lambda x: x.split("T")[0])
week_10["date"] = week_10.time.apply(lambda x: x.split("T")[0])
week_11["date"] = week_11.time.apply(lambda x: x.split("T")[0])
week_12["date"] = week_12.time.apply(lambda x: x.split("T")[0])
week_13["date"] = week_13.time.apply(lambda x: x.split("T")[0])
week_14["date"] = week_14.time.apply(lambda x: x.split("T")[0])
week_15["date"] = week_15.time.apply(lambda x: x.split("T")[0])
week_16["date"] = week_16.time.apply(lambda x: x.split("T")[0])
week_17["date"] = week_17.time.apply(lambda x: x.split("T")[0])

### Separate the hour from Time

In [9]:
week_1["time"] = week_1.time.apply(lambda x: x.split("T")[1])
week_2["time"] = week_2.time.apply(lambda x: x.split("T")[1])
week_3["time"] = week_3.time.apply(lambda x: x.split("T")[1])
week_4["time"] = week_4.time.apply(lambda x: x.split("T")[1])
week_5["time"] = week_5.time.apply(lambda x: x.split("T")[1])
week_6["time"] = week_6.time.apply(lambda x: x.split("T")[1])
week_7["time"] = week_7.time.apply(lambda x: x.split("T")[1])
week_8["time"] = week_8.time.apply(lambda x: x.split("T")[1])
week_9["time"] = week_9.time.apply(lambda x: x.split("T")[1])
week_10["time"] = week_10.time.apply(lambda x: x.split("T")[1])
week_11["time"] = week_11.time.apply(lambda x: x.split("T")[1])
week_12["time"] = week_12.time.apply(lambda x: x.split("T")[1])
week_13["time"] = week_13.time.apply(lambda x: x.split("T")[1])
week_14["time"] = week_14.time.apply(lambda x: x.split("T")[1])
week_15["time"] = week_15.time.apply(lambda x: x.split("T")[1])
week_16["time"] = week_16.time.apply(lambda x: x.split("T")[1])
week_17["time"] = week_17.time.apply(lambda x: x.split("T")[1])

### Separating Time portion only

In [10]:
week_1["time"] = week_1.time.apply(lambda x: x.split(".")[0])
week_2["time"] = week_2.time.apply(lambda x: x.split(".")[0])
week_3["time"] = week_3.time.apply(lambda x: x.split(".")[0])
week_4["time"] = week_4.time.apply(lambda x: x.split(".")[0])
week_5["time"] = week_5.time.apply(lambda x: x.split(".")[0])
week_6["time"] = week_6.time.apply(lambda x: x.split(".")[0])
week_7["time"] = week_7.time.apply(lambda x: x.split(".")[0])
week_8["time"] = week_8.time.apply(lambda x: x.split(".")[0])
week_9["time"] = week_9.time.apply(lambda x: x.split(".")[0])
week_10["time"] = week_10.time.apply(lambda x: x.split(".")[0])
week_11["time"] = week_11.time.apply(lambda x: x.split(".")[0])
week_12["time"] = week_12.time.apply(lambda x: x.split(".")[0])
week_13["time"] = week_13.time.apply(lambda x: x.split(".")[0])
week_14["time"] = week_14.time.apply(lambda x: x.split(".")[0])
week_15["time"] = week_15.time.apply(lambda x: x.split(".")[0])
week_16["time"] = week_16.time.apply(lambda x: x.split(".")[0])
week_17["time"] = week_17.time.apply(lambda x: x.split(".")[0])

In [11]:
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [12]:
players

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell
...,...,...,...,...,...,...,...
1298,2553798,6-2,235,09/17/1991,Vanderbilt,LS,Andrew East
1299,2556814,6-2,200,05/17/1994,Duke,WR,Max McCaffrey
1300,2552576,78,231,1992-04-25,Oregon State,QB,Sean Mannion
1301,2561469,69,187,1993-03-15,Alabama-Birmingham,CB,Darious Williams
1302,2558095,6-2,196,10/12/1995,LSU,WR,Malachi Dupre

In [13]:
plays.head(3)

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600,75,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600,146,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,...,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600,168,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,...,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False

### separating playtime from play description

In [14]:
plays["playtime"] = plays.playDescription.apply(lambda x: x.split(")")[0])
plays["playtime"] = plays.playtime.apply(lambda x: x.split("(")[1])

In [15]:
plays["desc"] = plays.playDescription.apply(lambda x: x.split(")")[1])

In [16]:
plays.drop("playDescription",axis=1,inplace=True)

### putting NaN to zero

In [17]:
plays.isnull().sum()

gameId                        0
playId                        0
quarter                       0
down                          0
yardsToGo                     0
possessionTeam                0
playType                      0
yardlineSide                254
yardlineNumber                0
offenseFormation            141
personnelO                   29
defendersInTheBox            62
numberOfPassRushers         633
personnelD                   29
typeDropback                639
preSnapVisitorScore         639
preSnapHomeScore            639
gameClock                   639
absoluteYardlineNumber      639
penaltyCodes              18033
penaltyJerseyNumbers      18033
passResult                    2
offensePlayResult             0
playResult                    0
epa                           0
isDefensivePI                 0
playtime                      0
desc                          0
dtype: int64

In [18]:
plays = plays.fillna(0)

In [19]:
players.isnull().sum()

nflId          0
height         0
weight         0
birthDate      0
collegeName    0
position       0
displayName    0
dtype: int64

In [20]:
games.isnull().sum()

gameId             0
gameDate           0
gameTimeEastern    0
homeTeamAbbr       0
visitorTeamAbbr    0
week               0
dtype: int64

In [21]:
players.position.value_counts()

WR     228
CB     195
RB     135
TE     128
OLB    100
QB      71
FS      65
SS      58
LB      58
ILB     56
DE      49
DB      33
MLB     29
DT      28
FB      19
P       13
LS      12
S       11
K        5
NT       5
HB       5
Name: position, dtype: int64

In [22]:
players.drop("height",axis=1,inplace=True)
players.drop("weight",axis=1,inplace=True)
players.drop("birthDate",axis=1,inplace=True)
players.drop("collegeName",axis=1,inplace=True)

In [23]:
plays.head(2)

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,playtime,desc
0,2018090600,75,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,...,90.0,0,0,C,10,10,0.261827,False,15:00,M.Ryan pass short right to J.Jones pushed ob ...
1,2018090600,146,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,...,49.0,0,0,I,0,0,-0.372360,False,13:10,M.Ryan pass incomplete short right to C.Ridle...

In [24]:
games.head(2)

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1

In [25]:
plays.passResult.value_counts()

C     11370
I      6135
S      1308
IN      420
R         4
0         2
Name: passResult, dtype: int64

In [26]:
plays.isDefensivePI.value_counts()

False    18980
True       259
Name: isDefensivePI, dtype: int64

### Separate Defensive players and Non Defensive Players

In [27]:
defensive = plays[plays.isDefensivePI == True]

In [28]:
attack = plays[~ plays.isDefensivePI == True]

In [29]:
defensive.head(5)

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,playtime,desc
3455,2018092700,1268,2,1,10,MIN,play_type_pass,LA,17,SINGLEBACK,...,27.0,DPI,LA 37,C,17,17,2.311855,True,8:13,K.Cousins pass deep right to A.Robinson for 1...
5089,2018100705,1968,2,3,2,JAX,play_type_pass,JAX,37,SHOTGUN,...,47.0,DPI,KC 20,C,30,30,1.870296,True,1:06,(Shotgun
6856,2018101412,3359,4,3,1,NE,play_type_pass,NE,34,EMPTY,...,44.0,DPI,KC 23,C,42,42,3.733272,True,7:20,(Shotgun
8079,2018102800,2806,4,1,10,PHI,play_type_pass,PHI,25,SHOTGUN,...,35.0,DPI,JAX 41,C,36,36,2.288579,True,13:10,(Shotgun
8222,2018102807,2870,3,1,1,CLE,play_type_pass,PIT,1,SHOTGUN,...,109.0,DPI,PIT 24,C,1,1,1.243717,True,5:29,(Shotgun

In [30]:
new_plays = plays

In [31]:
new_plays

,gameId,playId,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,...,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,playtime,desc
0,2018090600,75,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,...,90.0,0,0,C,10,10,0.261827,False,15:00,M.Ryan pass short right to J.Jones pushed ob ...
1,2018090600,146,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,...,49.0,0,0,I,0,0,-0.372360,False,13:10,M.Ryan pass incomplete short right to C.Ridle...
2,2018090600,168,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,49.0,0,0,I,0,0,-0.702779,False,13:05,(Shotgun
3,2018090600,190,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,...,49.0,0,0,C,33,33,3.047530,False,13:01,(Shotgun
4,2018090600,256,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,...,11.0,0,0,I,0,0,-0.842272,False,10:59,(Shotgun
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,2018122200,2300,3,2,5,WAS,play_type_unknown,WAS,31,SINGLEBACK,...,0.0,DH,TEN 24,I,0,5,0.848703,False,7:53,J.Johnson pass incomplete short left [K.Corre...
19235,2018122200,3177,4,3,7,TEN,play_type_unknown,WAS,37,SHOTGUN,...,0.0,DH,WAS 31,I,0,5,1.227695,False,6:53,(Shotgun
19236,2018122201,566,1,3,4,LAC,play_type_unknown,LAC,49,SHOTGUN,...,0.0,OPI,LAC 13,C,27,-10,-0.720168,False,5:32,(Shotgun
19237,2018122201,1719,2,3,1,LAC,play_type_unknown,LAC,48,SINGLEBACK,...,0.0,DPI,BAL 23,I,0,15,1.336078,True,1:08,P.Rivers pass incomplete deep middle to K.All...
19238,2018122201,2649,3,1,10,BAL,play_type_unknown,LAC,49,SHOTGUN,...,0.0,DPI,LAC 43,I,0,9,0.550256,True,7:16,(Shotgun

In [32]:
week_1.head(3)

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route,date
0,01:07:14,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,0,2018-09-07
1,01:07:14,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,0,2018-09-07
2,01:07:14,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH,2018-09-07

In [33]:
new_id = [week_1, week_2,week_3,week_4,week_5,week_6, week_7,week_8,week_9,week_10,week_11, week_12,week_13,week_14,week_15,week_16,week_17]

In [363]:
new_info = pd.concat(new_id)

In [364]:
defence_list = ['CB','DE','NT','DE','FS','ILB','SS','OLB','S','MLB','DT']

In [365]:
other_list = ['L','P','P','LS','K']

In [168]:
new_info.position.value_counts()

CB     3475252
WR     3399243
OLB    1514644
TE     1474453
FS     1287670
QB     1250063
0      1247642
RB     1247075
SS     1022972
ILB     867365
LB      516954
MLB     425094
DB      366236
S       112963
FB       42376
HB       40975
DE       10732
DL        2567
DT        2399
P         1017
LS        1017
NT         386
K          293
Name: position, dtype: int64

In [169]:
new_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18309388 entries, 0 to 1049264
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   x              float64
 1   y              float64
 2   s              float64
 3   a              float64
 4   dis            float64
 5   o              float64
 6   dir            float64
 7   nflId          float64
 8   displayName    object
 9   position       object
 10  team           object
 11  gameId         int64
 12  playId         int64
 13  playDirection  object
dtypes: float64(8), int64(2), object(4)
memory usage: 2.0+ GB

In [366]:
new_info.drop("event",axis=1,inplace=True)
new_info.drop("time",axis=1,inplace=True)
new_info.drop("frameId",axis=1,inplace=True)
new_info.drop("route",axis=1,inplace=True)
new_info.drop("date",axis=1,inplace=True)
new_info.drop("jerseyNumber",axis=1,inplace=True)

In [170]:
new_info.head(5)

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
0,91.73,26.67,0.00,0.01,0.02,289.57,240.93,310.0,Matt Ryan,QB,away,2018090600,75,left
1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
2,91.35,44.16,0.02,0.03,0.01,290.45,16.86,2495454.0,Julio Jones,WR,away,2018090600,75,left
3,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,FS,home,2018090600,75,left
4,90.78,36.15,0.00,0.00,0.00,257.61,193.97,2533040.0,Mohamed Sanu,WR,away,2018090600,75,left

In [171]:
new_info.displayName.value_counts()

Football               1247642
Michael Thomas           53700
Ben Roethlisberger       47142
JuJu Smith-Schuster      44810
Malcolm Jenkins          43927
                        ...
Jordan Berry                48
Kameron Canaday             48
Chris Boswell               48
Michael Pierce              47
Keith Tandy                 44
Name: displayName, Length: 1301, dtype: int64

In [172]:
defence_players = new_info[new_info['position'].isin(defence_list)]

In [173]:
defence_players.head(5)

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
3,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,FS,home,2018090600,75,left
5,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,FS,home,2018090600,75,left
7,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,MLB,home,2018090600,75,left
8,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,CB,home,2018090600,75,left

In [174]:
offence_players = new_info[~new_info['position'].isin(defence_list)]

In [175]:
offence_players = offence_players[~offence_players['position'].isin(other_list)]

In [176]:
offence_players.head(5)

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
0,91.73,26.67,0.00,0.01,0.02,289.57,240.93,310.0,Matt Ryan,QB,away,2018090600,75,left
2,91.35,44.16,0.02,0.03,0.01,290.45,16.86,2495454.0,Julio Jones,WR,away,2018090600,75,left
4,90.78,36.15,0.00,0.00,0.00,257.61,193.97,2533040.0,Mohamed Sanu,WR,away,2018090600,75,left
6,98.25,26.63,0.01,0.01,0.00,265.88,194.51,2543583.0,Devonta Freeman,RB,away,2018090600,75,left
10,91.29,21.83,0.01,0.02,0.01,250.34,151.83,2555415.0,Austin Hooper,TE,away,2018090600,75,left

In [177]:
list_of_defensive_players = defensive["playId"]

In [178]:
defence_players.head(10)

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
3,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,FS,home,2018090600,75,left
5,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,FS,home,2018090600,75,left
7,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,MLB,home,2018090600,75,left
8,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,CB,home,2018090600,75,left
9,84.00,43.49,0.14,0.05,0.01,108.23,110.32,2555383.0,Jalen Mills,CB,home,2018090600,75,left
15,88.89,36.47,0.01,0.01,0.00,105.63,68.49,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
17,86.32,22.00,0.10,0.58,0.01,70.88,119.04,2495613.0,Corey Graham,FS,home,2018090600,75,left
19,73.64,28.70,0.03,0.02,0.01,104.57,228.17,2534832.0,Rodney McLeod,FS,home,2018090600,75,left
21,86.48,31.11,0.07,0.03,0.00,101.10,30.26,2552315.0,Jordan Hicks,MLB,home,2018090600,75,left

In [179]:
final_list_defence = defence_players.drop_duplicates(subset="displayName")

In [180]:
final_list_offence = offence_players.drop_duplicates(subset="displayName")

In [181]:
final_list_defence.displayName.value_counts()

Jordan Poyer        1
Artie Burns         1
Mike Hughes         1
Daren Bates         1
Ben Jacobs          1
                   ..
Eric Reid           1
Chris Conte         1
Michael Davis       1
Rashard Robinson    1
George Iloka        1
Name: displayName, Length: 590, dtype: int64

In [182]:
final_list_offence.displayName.value_counts()

Logan Thomas       1
Kamar Aiken        1
Josh Gordon        1
Brock Osweiler     1
Derek Carrier      1
                  ..
Amari Cooper       1
Durham Smythe      1
Albert Wilson      1
Nathan Peterman    1
Travis Benjamin    1
Name: displayName, Length: 691, dtype: int64

In [183]:
final_list_defence_left = final_list_defence[final_list_defence.playDirection == 'left']

In [184]:
final_list_defence_right = final_list_defence[final_list_defence.playDirection == 'right']

In [185]:
final_list_offence_left = final_list_offence[final_list_offence.playDirection == 'left']
final_list_offence_right = final_list_offence[final_list_offence.playDirection == 'right']

In [186]:
final_list_defence_left

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
3,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,FS,home,2018090600,75,left
5,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,FS,home,2018090600,75,left
7,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,MLB,home,2018090600,75,left
8,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,CB,home,2018090600,75,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992947,78.89,19.69,0.00,0.00,0.01,90.00,35.56,2559141.0,B.J. Bello,MLB,away,2018121611,3142,left
1110709,66.51,28.62,0.66,1.10,0.04,83.66,76.27,2560779.0,Arden Key,DE,home,2018122400,2073,left
47357,81.30,25.37,0.04,0.04,0.02,119.51,83.91,2506931.0,Kyle Williams,DT,home,2018123001,435,left
278127,71.80,23.46,0.23,0.05,0.04,75.99,250.19,2559058.0,Maurice Smith,S,away,2018123001,2321,left
822167,78.32,25.42,0.00,0.00,0.00,253.04,92.96,2543725.0,Marcus Smith,DE,home,2018123012,2739,left

In [187]:
final_list_defence_right

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
3772,17.94,10.81,0.10,0.06,0.02,50.97,339.67,2539334.0,Desmond Trufant,CB,away,2018090600,320,right
3773,16.16,38.61,1.89,1.13,0.19,223.60,36.47,2539653.0,Robert Alford,CB,away,2018090600,320,right
3775,27.90,27.39,0.46,0.35,0.05,271.26,41.50,2543850.0,Ricardo Allen,SS,away,2018090600,320,right
3776,14.61,24.70,0.01,0.01,0.00,300.26,318.64,2552301.0,Vic Beasley,OLB,away,2018090600,320,right
3780,17.97,26.81,0.61,2.27,0.07,268.83,341.28,2555162.0,Deion Jones,MLB,away,2018090600,320,right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29221,49.41,18.65,0.18,0.76,0.00,0.94,107.61,496843.0,Jason Pierre-Paul,DE,home,2018123010,334,right
29223,48.24,29.36,0.13,0.10,0.02,222.76,265.02,2532825.0,Vinny Curry,DE,home,2018123010,334,right
29238,48.83,26.89,0.21,0.20,0.03,246.43,257.42,2560909.0,Vita Vea,DT,home,2018123010,334,right
497478,46.41,25.95,0.44,1.74,0.05,242.10,193.20,2550647.0,Kasim Edebali,OLB,away,2018123009,173,right
979314,70.22,11.83,0.13,0.11,0.01,294.21,123.10,2561469.0,Darious Williams,CB,home,2018123014,4181,right

In [188]:
final_list_offence_left

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
0,91.73,26.67,0.00,0.01,0.02,289.57,240.93,310.0,Matt Ryan,QB,away,2018090600,75,left
2,91.35,44.16,0.02,0.03,0.01,290.45,16.86,2495454.0,Julio Jones,WR,away,2018090600,75,left
4,90.78,36.15,0.00,0.00,0.00,257.61,193.97,2533040.0,Mohamed Sanu,WR,away,2018090600,75,left
6,98.25,26.63,0.01,0.01,0.00,265.88,194.51,2543583.0,Devonta Freeman,RB,away,2018090600,75,left
10,91.29,21.83,0.01,0.02,0.01,250.34,151.83,2555415.0,Austin Hooper,TE,away,2018090600,75,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318032,50.73,29.80,0.00,0.00,0.00,284.26,195.08,2557850.0,De'Angelo Henderson Sr.,RB,away,2018123006,2494,left
381911,48.57,9.95,0.00,0.00,0.00,284.62,49.08,2560787.0,Allen Lazard,WR,home,2018123002,3355,left
526764,84.47,44.57,0.00,0.00,0.00,267.33,89.55,2561359.0,Darvin Kidsy,WR,home,2018123012,400,left
788999,89.03,22.60,0.09,0.75,0.01,75.70,50.47,2561585.0,Dallin Leavitt,DB,away,2018123004,2619,left
913757,63.39,23.75,0.01,0.01,0.00,262.97,273.21,2552576.0,Sean Mannion,QB,home,2018123014,3534,left

In [189]:
final_list_offence_right

,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
3770,13.06,11.68,0.00,0.00,0.00,93.73,72.43,2507763.0,Mike Wallace,WR,home,2018090600,320,right
3771,8.85,29.84,0.00,0.00,0.00,92.61,178.66,2532842.0,Nick Foles,QB,home,2018090600,320,right
3774,12.43,34.66,0.00,0.00,0.00,90.23,269.76,2540158.0,Zach Ertz,TE,home,2018090600,320,right
3777,9.00,31.72,0.01,0.01,0.00,115.98,183.57,2552582.0,Jay Ajayi,RB,home,2018090600,320,right
3778,10.58,30.49,6.34,1.04,0.64,9.87,0.58,2552600.0,Nelson Agholor,WR,home,2018090600,320,right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418447,47.16,29.99,0.01,0.01,0.00,84.03,10.53,2549982.0,Garrett Gilbert,QB,away,2018123007,3322,right
550813,49.12,16.07,0.00,0.00,0.00,87.79,55.09,2558095.0,Malachi Dupre,WR,away,2018123015,640,right
562820,88.68,44.05,0.00,0.00,0.00,117.01,117.41,2556814.0,Max McCaffrey,WR,away,2018123014,721,right
793984,108.72,24.39,0.28,5.53,0.06,300.91,242.82,2561394.0,Jeremy Reaves,DB,home,2018123012,2522,right
879313,24.62,29.90,0.07,0.50,0.01,92.46,65.95,252.0,Chad Henne,QB,home,2018123004,3370,right

In [190]:
final_list_offence.position.value_counts()

WR    226
RB    139
TE    128
QB     71
LB     54
DB     50
FB     15
HB      6
DL      1
0       1
Name: position, dtype: int64

In [191]:
final_list_defence.position.value_counts()

CB     194
OLB    102
FS      63
ILB     56
SS      55
DE      50
MLB     29
DT      27
S        8
NT       6
Name: position, dtype: int64

In [194]:
final_list_defence.describe()

,x,y,s,a,dis,o,dir,nflId,gameId,playId
count,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,590.000000,5.900000e+02,5.900000e+02,590.000000
mean,57.818322,26.883797,0.419576,0.389356,0.046068,177.488424,177.963831,2.394516e+06,2.018096e+09,991.466102
std,23.222458,8.786278,0.783924,0.571024,0.078397,94.917285,105.092942,5.653720e+05,9.292404e+03,1183.584374
min,11.310000,5.650000,0.000000,0.000000,0.000000,0.940000,1.540000,3.060000e+02,2.018091e+09,51.000000
25%,39.782500,21.345000,0.010000,0.020000,0.010000,88.670000,88.210000,2.535699e+06,2.018091e+09,162.250000
50%,58.655000,26.635000,0.120000,0.130000,0.020000,174.150000,179.950000,2.552386e+06,2.018092e+09,380.500000
75%,77.637500,32.922500,0.497500,0.570000,0.057500,268.627500,265.642500,2.556765e+06,2.018101e+09,1515.000000
max,112.560000,46.900000,8.120000,4.010000,0.820000,351.370000,359.560000,2.561644e+06,2.018123e+09,5369.000000

### Starting XGBoosting Here

In [203]:
X_1, y_1 = final_list_defence_left.iloc[:,0:6],final_list_defence_left.iloc[:,7]
X_2, y_2 = final_list_defence_right.iloc[:,0:6],final_list_defence_right.iloc[:,7]

In [239]:
X_3, y_3 = final_list_offence_left.iloc[:,0:6],final_list_offence_left.iloc[:,7]
X_4, y_4 = final_list_offence_right.iloc[:,0:6],final_list_offence_right.iloc[:,7]

In [240]:
data_dmatrix_1 = xgb.DMatrix(data=X_1,label=y_1)
data_dmatrix_2 = xgb.DMatrix(data=X_2,label=y_2)
data_dmatrix_3 = xgb.DMatrix(data=X_3,label=y_3)
data_dmatrix_4 = xgb.DMatrix(data=X_4,label=y_4)

### Test and Train Split

In [241]:
X_train_def_left, X_test_def_left, y_train_def_left, y_test_def_left = train_test_split(X_1, y_1, test_size=0.2, random_state=123)
X_train_def_right, X_test_def_right, y_train_def_right, y_test_def_right = train_test_split(X_2, y_2, test_size=0.2, random_state=123)

X_train_off_left, X_test_off_left, y_train_off_left, y_test_def_left = train_test_split(X_3, y_3, test_size=0.2, random_state=123)
X_train_off_right,X_test_off_right, y_train_off_right, y_test_def_right = train_test_split(X_4, y_4, test_size=0.2, random_state=123)

### Defining the regressor

In [242]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.5, max_depth = 5, alpha = 10, n_estimators = 10)

### Fitting the datas

In [243]:
xg_reg.fit(X_train_def_left,y_train_def_left)
xg_reg.fit(X_train_def_right,y_train_def_right)
xg_reg.fit(X_train_off_left,y_train_off_left)
xg_reg.fit(X_train_off_right,y_train_off_right)

[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[19:16:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.5, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=10, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

### Predicting the datas

In [244]:
predict_1 = xg_reg.predict(X_test_def_left)
predict_2 = xg_reg.predict(X_test_def_right)
predict_3 = xg_reg.predict(X_test_off_left)
predict_4 = xg_reg.predict(X_test_off_right)

In [245]:
predict_1

array([2606336.2, 2603459. , 2626338.2, 2631137. , 2188216.5, 2565636.2,
       2574688.5, 2029248.5, 2527734.8, 2517109.2, 2434454. , 2521110. ,
       2578986.8, 1707093.4, 2594940. , 2582081.5, 2465266.2, 2607674.2,
       2612363.8, 2206195.8, 2300867.8, 2454459.5, 2526602.8, 2429517.2,
       2532751. , 2608473. , 2178932.5, 2450027.2, 2465253.5, 2624150. ,
       2519227. , 2425730.2, 2141691.2, 2590714. , 2521407.5, 2557181.2,
       2641560.2, 2302369. , 2498307.5, 2108649. , 2616631.2, 2156854.8,
       2647436.8, 2394883.5, 2447911.2, 2534652. , 2570073.8, 2412973.5,
       2548002.5, 2555735. , 2620096. , 2615313.8, 2565636.2, 2589190.5,
       2444746. , 2532086.5, 2301741.5, 2555873.2], dtype=float32)

In [246]:
predict_2

array([2293468.2, 2487585. , 2608996.2, 2519226.8, 2570834.8, 2588142. ,
       2621887.5, 2622593. , 2591853.2, 2587561. , 2630372.8, 2156290.8,
       2404465.2, 2567048. , 2217198. , 2348431.2, 2306347.2, 2567048. ,
       2255480. , 2603992.2, 2636774.5, 2565086. , 2645912.8, 2458231. ,
       2290785.8, 2523654.2, 2615308.2, 2540131.5, 2504875.5, 2410182.2,
       2185448.2, 2640342. , 2318409.5, 2612225.2, 2648391.2, 2622556.5,
       2188244.2, 2582039.8, 2558835.2, 2583312.2, 2523654.2, 2347870. ,
       2553254.5, 2596279.5, 2664368. , 2556043. , 2589369.2, 2609663.2,
       2530252.8, 2549783. , 2598874.8, 2558835.2, 2515184. , 2598233.5,
       2524284.8, 2552858.5, 2544987.5, 2664477. , 2564216.2, 2603113.5],
      dtype=float32)

In [247]:
predict_3

array([1925939.9, 2533540. , 2310111. , 2520850.5, 2582758. , 2589877.8,
       2612973.2, 2634086.2, 2490182.2, 2454586.2, 2259907.5, 2494858.5,
       2497194. , 2507373. , 2533261.5, 2144964.8, 2555605.5, 2464008.2,
       2413074. , 2518820.5, 2500427.2, 2533540. , 2641947.8, 2670118.8,
       2453171.5, 2565491.2, 2220048.8, 2566763.8, 2389371. , 2531525.2,
       2550057. , 2588605.2, 2599362.5, 2254454. , 2603510.5, 2236844.2,
       2462393.5, 2533033.2, 2425387.5, 2412651. , 2508645.5, 2497658.5,
       2364937.2, 2647223. , 2602388.8, 2537347.2, 2508301. , 1913901.1,
       2508780.8, 2186194.8, 2494344.8, 2431477.5, 2558487.8, 2422348.2,
       2023066.9, 2292739. , 2486293. , 2245401.5, 2498101. , 2518151.5,
       2505838. , 2361196. , 2514524.5, 2523158.5, 1925939.9, 2436226.5,
       2487981.8], dtype=float32)

In [248]:
predict_4

array([2535603.2, 2432836.5, 2462212.8, 2383591.5, 2158753.2, 2442967.5,
       2465863.8, 2634620.8, 2515129.8, 2433766.2, 2132501. , 2554537. ,
       2472331.8, 2454708.8, 2299749. , 2505743.5, 1405063.8, 2547372.5,
       2582637.2, 2530992.5, 2557562.8, 2459431.5, 2341309.8, 1593877.8,
       2528650.5, 2244072.2, 2411679. , 2495089. , 2372496.5, 2287776.8,
       2426014.5, 2469287. , 2479385.5, 2501179.5, 2059226.4, 2481495.2,
       2537654. , 2428827.8, 2533698.8, 2457880.5, 2301631.8, 1833959.5,
       2158753.2, 2497300. , 2548574.5, 2426547.5, 2515779.2, 2453269.5,
       2445539. , 2480224.5, 2073730.8, 2470544.5, 2421899.8, 2595634.5,
       2431474.8, 2498018.2, 2613036.5, 2613663.2, 2333453.2, 2304739.5,
       2007110.9, 2412343.2, 2383772. , 2601723. , 2564891. , 2566658.5,
       2459431.5, 2433553.8, 2588432. , 2471409. , 1631853.4, 2363013.2],
      dtype=float32)

In [249]:
predict_11 = xg_reg.predict(X_1)
predict_12 = xg_reg.predict(X_2)
predict_13 = xg_reg.predict(X_3)
predict_14 = xg_reg.predict(X_4)

In [255]:
k = min(len(predict_14),len(predict_11))
l = min(len(predict_13),len(predict_12))

In [258]:
len(predict_14)

357

In [259]:
len(predict_11)

290

In [262]:
len(predict_13)

334

In [261]:
len(predict_12)

300

In [271]:
a1 = (predict_11/predict_11.mean())*10
a2 = (predict_12/predict_12.mean())*10
a3 = (predict_13/predict_13.mean())*10
a4 = (predict_14/predict_14.mean())*10

In [281]:
a3

array([10.177903 , 10.641602 , 10.028349 ,  9.827491 , 10.165439 ,
       10.267441 ,  9.877639 , 10.046598 , 10.67768  ,  9.996553 ,
       10.385368 , 10.316967 ,  9.616212 , 10.104522 , 10.395338 ,
       10.402782 ,  9.969369 , 10.705879 ,  8.810502 , 10.849439 ,
       10.759603 ,  9.837812 ,  9.712236 ,  9.983803 ,  9.987217 ,
        8.881985 , 10.205282 ,  9.916599 , 10.028349 , 10.060405 ,
        9.921782 , 10.453407 ,  9.902894 , 10.407965 ,  9.796326 ,
        9.9804325,  8.177547 , 10.407965 , 10.369825 , 10.244991 ,
       10.294458 , 10.781087 ,  9.865261 , 10.599842 ,  9.963309 ,
        9.77837  ,  8.628168 , 10.44959  , 10.727586 , 10.550653 ,
        8.902752 ,  9.00932  ,  9.925561 ,  9.35253  ,  9.109777 ,
        7.8435874,  8.815479 , 10.040108 ,  9.046558 ,  8.726145 ,
        7.741594 , 10.323284 , 10.35851  ,  9.128231 , 10.423994 ,
       10.3181   , 10.216715 ,  9.041375 , 10.312267 , 10.215312 ,
        9.807195 ,  9.97862  ,  9.203705 , 10.350156 , 10.495033 ,
       10.419703 , 10.153292 ,  9.346634 ,  9.730958 , 10.385368 ,
       10.385368 , 10.400305 , 10.158474 , 10.424583 , 10.588497 ,
       10.208603 , 10.134718 ,  8.45453  , 10.537201 , 10.389063 ,
       10.173771 , 10.271183 , 10.2413225,  9.920379 ,  8.9035015,
       10.300845 ,  9.186677 ,  9.00932  ,  9.188309 ,  9.768823 ,
       10.652104 , 10.4081745,  9.827491 , 10.060405 ,  8.8768635,
        7.8435874,  9.191435 ,  9.144628 , 10.279728 , 10.178343 ,
       10.204244 ,  9.046558 , 10.37716  , 10.3181   , 10.216715 ,
       10.448226 , 10.728844 , 10.3098955,  9.31162  ,  8.9536495,
        9.181495 , 10.028349 ,  9.172665 , 10.24431  , 10.565126 ,
       10.487877 , 10.466112 , 10.542359 , 10.547543 ,  9.479007 ,
       10.107674 , 10.785217 , 10.056363 , 10.685812 , 10.500216 ,
       10.189213 , 10.271183 , 10.754578 ,  9.3322315,  8.247639 ,
       10.464668 , 10.145847 ,  9.733834 ,  9.337414 , 10.393703 ,
        9.730958 , 10.753163 ,  9.151632 , 10.275821 ,  9.955953 ,
       10.211534 , 10.426074 , 10.3181   ,  8.134459 , 10.040108 ,
       10.215312 ,  9.95423  ,  9.921782 ,  9.745174 , 10.37716  ,
        9.840402 , 10.323284 , 10.372144 , 10.779272 ,  9.997785 ,
       10.211534 , 10.034925 ,  9.854847 , 10.516041 , 10.2681465,
       10.320137 , 10.240659 ,  8.030144 ,  9.961954 ,  8.913768 ,
       10.258154 , 10.495033 , 10.741509 , 10.028349 , 10.518546 ,
       10.023167 , 10.421243 , 10.58617  , 10.276365 ,  8.289396 ,
       10.874332 , 10.348335 , 10.217266 , 10.333606 ,  9.815113 ,
       10.2927265, 10.366371 ,  8.239147 , 10.577526 , 10.577526 ,
       10.545471 , 10.603064 ,  9.443744 , 10.562374 , 10.584183 ,
       10.25543  , 10.3856735, 10.3181   , 10.855747 , 10.208622 ,
       10.158474 ,  9.041375 , 10.37716  , 10.077045 , 10.173771 ,
        9.739992 ,  8.62073  , 10.316037 , 10.136323 , 10.377001 ,
        9.623145 , 10.036636 , 10.143205 , 10.160566 , 10.323284 ,
       10.407965 ,  8.769449 , 10.158474 , 10.598494 , 10.132561 ,
       10.405487 , 10.4577875, 10.028349 , 10.153292 ,  9.356569 ,
       10.486414 , 10.125683 , 10.369253 ,  9.739992 , 10.355339 ,
       10.428152 , 10.439092 ,  8.653592 , 10.276365 , 10.158474 ,
        9.990791 , 10.006626 ,  9.180969 , 10.500216 , 10.358101 ,
       10.678728 ,  9.97193  , 10.17197  , 10.170078 , 10.376939 ,
        8.735588 , 10.132561 ,  9.328975 , 10.045653 , 10.211534 ,
       10.205282 , 10.095101 , 10.028349 , 10.24431  , 10.733606 ,
        9.270734 , 10.471133 , 10.39564  , 10.41606  , 10.4159355,
       10.205282 , 10.796839 , 10.182277 , 10.564655 , 10.276365 ,
       10.449471 , 10.373115 , 10.182709 , 10.158474 ,  9.888809 ,
        9.274094 , 10.067368 ,  8.785851 ,  9.961136 , 10.274527 ,
       10.323284 ,  9.408163 ,  9.927653 ,  9.8257675, 10.060405 ,
       10.178343 , 10.060405 , 10.081547 ,  9.920379 , 10.678728 ,
       10.060405 , 10.183247 , 10.637079 , 10.173161 , 10.060405 ,
       10.355339 , 10.448226 ,  9.955953 , 10.262159 , 10.289031 ,
        9.530084 , 10.266422 , 10.152754 , 10.823512 , 10.453407 ,
       10.407436 , 10.564959 , 10.328265 , 10.655052 , 10.000309 ,
        7.7945576,  7.8193088, 10.033018 ,  9.834525 ,  9.937313 ,
       10.374435 ,  9.902441 ,  9.691996 ,  9.963278 ,  8.20504  ,
       10.204244 ,  9.631449 , 10.060405 , 10.289031 , 10.289999 ,
       10.614391 , 10.641602 , 10.453407 , 10.506443 ,  8.0459385,
       10.0763645,  9.191435 , 10.520358 , 10.141521 ], dtype=float32)

In [342]:
d_l = pd.DataFrame(data = a1,columns =["Value"])
d_r = pd.DataFrame(data = a2,columns =["Value"])
o_l = pd.DataFrame(data = a3,columns =["Value"])
o_r = pd.DataFrame(data = a4,columns =["Value"])

In [358]:
f = final_list_defence_left.reset_index()
g = final_list_defence_right.reset_index()
v = final_list_offence_left.reset_index()
b = final_list_offence_right.reset_index()

In [360]:
d_l["Player"] = f["displayName"]
d_r["Player"] = g["displayName"]

In [368]:
d_l["Pos"] = f["position"]
d_r["Pos"] = g["position"]

In [369]:
d_l

         Value           Player  Pos
0     9.664240  Malcolm Jenkins   SS
1    10.432268     Corey Graham   FS
2    10.532260    Rodney McLeod   FS
3    10.250498     Jordan Hicks  MLB
4    10.536179     Ronald Darby   CB
..         ...              ...  ...
285  10.146737       B.J. Bello  MLB
286   8.435596        Arden Key   DE
287  10.816263    Kyle Williams   DT
288  10.801673    Maurice Smith    S
289  10.304741     Marcus Smith   DE

[290 rows x 3 columns]

In [370]:
d_r

         Value             Player  Pos
0    10.081721    Desmond Trufant   CB
1    10.445269      Robert Alford   CB
2     7.469461      Ricardo Allen   SS
3     9.788067        Vic Beasley  OLB
4    10.360650        Deion Jones  MLB
..         ...                ...  ...
295  10.307861  Jason Pierre-Paul   DE
296  10.624013        Vinny Curry   DE
297  10.542530           Vita Vea   DT
298  10.457277      Kasim Edebali  OLB
299  10.118360   Darious Williams   CB

[300 rows x 3 columns]

In [367]:
f

,index,x,y,s,a,dis,o,dir,nflId,displayName,position,team,gameId,playId,playDirection
0,1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,SS,home,2018090600,75,left
1,3,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,FS,home,2018090600,75,left
2,5,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,FS,home,2018090600,75,left
3,7,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,MLB,home,2018090600,75,left
4,8,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,CB,home,2018090600,75,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,992947,78.89,19.69,0.00,0.00,0.01,90.00,35.56,2559141.0,B.J. Bello,MLB,away,2018121611,3142,left
286,1110709,66.51,28.62,0.66,1.10,0.04,83.66,76.27,2560779.0,Arden Key,DE,home,2018122400,2073,left
287,47357,81.30,25.37,0.04,0.04,0.02,119.51,83.91,2506931.0,Kyle Williams,DT,home,2018123001,435,left
288,278127,71.80,23.46,0.23,0.05,0.04,75.99,250.19,2559058.0,Maurice Smith,S,away,2018123001,2321,left
289,822167,78.32,25.42,0.00,0.00,0.00,253.04,92.96,2543725.0,Marcus Smith,DE,home,2018123012,2739,left